@import "tailwindcss";

@theme {
  --color-background-main: #0A070E;
  --color-dashboard-card: #151519;
  --color-card-border: #222127;
  --color-neutral-grey: #8A878E;
  --color-accent: #3457DC;
  --color-secondary: #FCC841;
  --color-success: #01CBB1;
  --color-warning: #C5432D;
  --color-progress-border: #373735;
  --color-label: #373735;
  --color-input-bg: #121217;
  --font-poppins: "Poppins", sans-serif;
}

/* Tajawal Font */
@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Medium.woff2') format('woff2'),
       url('/fonts/tajawal/Tajawal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/tajawal/Tajawal-Bold.woff2') format('woff2'),
       url('/fonts/tajawal/Tajawal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Poppins Font */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-latin-400-normal.woff2') format('woff2'),
       url('/fonts/poppins/poppins-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-latin-500-normal.woff2') format('woff2'),
       url('/fonts/poppins/poppins-latin-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-latin-600-normal.woff2') format('woff2'),
       url('/fonts/poppins/poppins-latin-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/poppins-latin-700-normal.woff2') format('woff2'),
       url('/fonts/poppins/poppins-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Gilroy Font */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
       url('/fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
       url('/fonts/gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-SemiBold.woff2') format('woff2'),
       url('/fonts/gilroy/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
       url('/fonts/gilroy/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Tajawal', 'Poppins', 'Gilroy', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background-main);
  color: white;
}